* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 249, 167);
  background-image: url(../img/imagenavion.jpg);
  background-repeat: no-repeat;
  background-position: center center; //center de izquierda a derecha, center de arriba a abajo
  background-size: cover;
  header {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
      color: white;
    }
  }
  section {
    margin-bottom: 5rem;
    .class__h1 {
      color: blue;
      text-align: center;
      font-size: 2.5rem;
      margin: 5rem;
      padding-bottom: 20rem;
    }

    .class__button {
      margin-top: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 2rem;
        input {
          background-color: rgb(13, 9, 244);
          padding: 1rem;
          border-radius: 1rem;
          color: white;
          font-size: medium;
          font-weight: 600;
        }
      }
    }
  }
}
